body {
	background: var(--color-bg);
	color: var(--color-text);
	margin: clamp(1rem, 4vw, 3rem);
}

.wrapper + .wrapper {
	margin-block-start: 2rem;
}

label {
	line-height: 1;
}

pre {
	tab-size: 3;
}

.BackLink {
	border-block-end: var(--divider) var(--color-outline);
	padding-block-end: var(--spacing);
}

.ThemeToggle {
	border-block-start: var(--divider) var(--color-outline);
	margin-block-start: var(--spacing);
	padding-block-start: var(--spacing);
}

.ThemeToggle theme-toggle {
	border: none;
	padding: 0;
}

theme-toggle {
	display: flex;
	gap: 1em;
	padding: 1em;
	border: var(--divider) var(--color-outline);
}

theme-toggle div {
	display: flex;
	gap: 0.5em;
}
